
.cabecalho-contato {
    display: flex;
    margin-top: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container-div-contato {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    flex-wrap: wrap;
    justify-content: center;
    
   
    gap: 250px;
    margin-top: 70px;
}

.container-div-esquerdo {
 
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container-div-esquerdo h2{
    font-size: 25px;
    white-space: nowrap;
}



.div-email, .div-telefone, .div-localizacao {
    display: flex;
    align-items: center;
    gap: 15px;
    
}



.div-email img, .div-telefone img, .div-localizacao img {
    width: 25px;
    height: 25px;
}

.link-email, .link-telefone, .link-localizacao{

    display: block;
    margin-top: 10px;
    color: #525252;
    text-decoration: none;
    

}


.container-div-direito {
 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-div-direito h2{
    font-size: 25px;
    white-space: nowrap;
}

form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    
}

label{
    font-weight: 600;
}

.nome-input, .email-input, .mensagem-textarea, .button-enviar {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

 .mensagem-textarea {
    height: 120px;
    resize: none;
 }



.button-enviar {
    background-color: #000000;
    color:#ffffff;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;

}

.button-enviar img {
    width: 15px;
    height: 15px;

}

.link-email:hover, .link-telefone:hover {
    color: #000000;
   
}

.button-enviar:hover {
   opacity: 0.8;
}

.button-enviar:active {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {



    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }


    .cabecalho-contato {
        margin-top: 100px;
        
    }
    
    .cabecalho-contato h1 {
        font-size: 25px;
    }

    .cabecalho-contato p {
        margin-top: 5px;
        font-size: 14px;
    }

    .container-div-contato {
          
        display: flex;        
        flex-direction: column;
        align-items: center;   
        gap: 40px;            
        width: 100%;        
        height: auto;
        overflow: visible;
        padding-bottom: 50px;   
        padding: 0 20px;      
        margin-top: 30px;
    }
    

    .container-div-contato h2{
        font-size: 25px;
    }

    .container-div-esquerdo {
        margin-top: 40px;
        
    }

    .container-div-direito {
         width: 100%;            
        max-width: 100%;      
        margin-top: 20px;
        align-items: center;    
        display: flex;
        flex-direction: column;
        padding-bottom: 120px;
    }
    

    .nome-input, .email-input, .mensagem-textarea, .button-enviar {
        width: 100% !important;
        max-width: 100%;
        margin-bottom: 5px;
       

    }

    .button-enviar{
        height: 55px;
        margin-top: 10px;
         display: flex; 
         align-items: center;
         justify-content: center;
        
       
    }

    .link-email, .link-telefone, .link-localizacao {
        font-size: 14px;
    }

    .div-email img, .div-telefone img, .div-localizacao img {
        width: 20px;
        height: 20px;
    }

    .paragrafo-email, .paragrafo-telefone, .paragrafo-localizacao {
        font-size: 14px;
    }
    
}